.movieItem {
  display: grid;
}
.imgBackdrop {
  width: 15rem;
  height: auto;
  transition: transform 0.3s ease;
}
.imgPoster {
  width: 10rem;
  height: auto;
  transition: transform 0.3s ease;
}
.imgTransform:hover {
  transform: scale(1.15);
  cursor: pointer;
}
