section {
  padding-left: 2rem;
}
.titleMVList {
  font-size: 22px;
  padding-top: 5rem;
  font-weight: 700;
  color: #fff;
}
.containerMVList {
  overflow-x: auto;
  overflow-y: hidden;
}
.movieList {
  display: flex;
  gap: 20px;
}
/* Background Scroll */
.containerMVList::-webkit-scrollbar {
  height: 8px;
  background-color: #11171a;
}
/* Scroll */
.containerMVList::-webkit-scrollbar-thumb {
  background-color: #292929;
  border-radius: 6px;
  cursor: pointer;
}
