.nav {
  position: fixed;
  padding: 0.5rem 2rem;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
}
.navDark {
  background-color: rgba(0, 0, 0, 0.7);
}
.logo a {
  margin: 0;
  color: red;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}
.iconSearch {
  width: 2rem;
  height: auto;
  margin-right: 2rem;
}
